<head>	
	<title></title>
	<style>#banner{opacity: 0;}</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="ad.size" content="width=<%= width %>, height=<%= height %>">
	<script > var clickTag = "http://www.google.com"; </script>
	<link rel="stylesheet" href="./_styles/css/main.css" inline/>
	<script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_2.1.2_min.js"></script>
	<!-- <script  src="http://localhost:48626/takana.js"></script> -->
    <!-- <script >takanaClient.run({host: 'localhost:48626'});</script> -->
</head>