<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">


		<!-- <img alt="image" src="./images/f1.png" class="retina" inline> -->


		<!-- <img alt="image" src="./images/f1.png" class="retina" inline> -->

		

<div class="phoneholder a">
			<div class="phoneholderChild">	
				<img  src="" alt="image"  class="retina phone_1" id="a1">
				<img  src="" alt="image"  class="retina phone_2" id="a2">
				<img  src="" alt="image"  class="retina phone_3" id="a3">				
			</div>
		</div>

		<div class="phoneholder b">
			<div class="phoneholderChild">	
				<img  src="" alt="image"  class="retina phone_1" id="b1">
				<img  src="" alt="image"  class="retina phone_2" id="b2">
				<img  src="" alt="image"  class="retina phone_3" id="b3">
			</div>
		</div>

		<div class="phoneholder c">
			<div class="phoneholderChild">	
				<img  src="" alt="image"  class="retina phone_1" id="c1">
				<img  src="" alt="image"  class="retina phone_2" id="c2">
				<img  src="" alt="image"  class="retina phone_3" id="c3">				
			</div>
		</div>

		<div class="phoneholder d">
			<div class="phoneholderChild">	
				<img  src="" alt="image"  class="retina phone_1" id="d1">
				<img  src="" alt="image"  class="retina phone_2" id="d2">
				<img  src="" alt="image"  class="retina phone_3" id="d3">				
			</div>
		</div>


		
		<img alt="image" src="./images/element_bottom.png" class="retina element_bottom" inline>

		<img alt="image" src="./images/t1.png" class="retina t1" inline>
		<img alt="image" src="./images/t2.png" class="retina t2" inline>
		<img alt="image" src="./images/t3.png" class="retina t3" inline>

		<img alt="image" src="./images/hero.png" class="retina hero" inline>
		<img alt="image" src="./images/end_txt.png" class="retina end_txt" inline>
		<div class="cta">
			<div class="btn"></div>
			<img alt="image" src="./images/cta.png" class="retina cta" inline>	

		</div>
		

		

		<img alt="image" src="./images/logo.png" class="logo retina" inline>
	</div>
	
</div>


