<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		

		<!-- <img alt="image" src="./images/f1.png" class="retina" inline> -->


		<div class="phoneholder a">
			<div class="phoneholderChild">	
				<img alt="image" id="a3" class="retina phone_3" >				
				<img alt="image" id="a2" class="retina phone_2" >
				<img alt="image" id="a1" class="retina phone_1" id="b1" >
			</div>
		</div>

		<div class="phoneholder b">
			<div class="phoneholderChild">	
				<img alt="image" id="b3" class="retina phone_3" >				
				<img alt="image" id="b2" class="retina phone_2" >
				<img alt="image" id="b1" class="retina phone_1" id="b1" >
			</div>
		</div>
		<!-- <img alt="image" src="./images/element_top.png" class="retina element_top" inline> -->
		<img alt="image" src="./images/element_bottom.png" class="retina element_bottom" inline>

		<img alt="image" src="./images/t1.png" class="retina t1" inline>
		<img alt="image" src="./images/t2.png" class="retina t2" inline>
		<img alt="image" src="./images/t3.png" class="retina t3" inline>

		<img alt="image" src="./images/hero.png" class="retina hero" inline>
		<img alt="image" src="./images/end_txt.png" class="retina end_txt" inline>
		<div class="cta">
			<div class="btn"></div>
			<img alt="image" src="./images/cta.png" class="retina cta" inline>	

		</div>
		
		

		<img alt="image" src="./images/logo.png" class="logo retina" inline>
	</div>
	
</div>



