

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;
}


.element_bottom{
	
	@include pos-scale(10, -334, .5);
}

.phoneholder.a{
	@include pos(5, -2400);
	// @include pos(5, -1600);
	// @include pos(10, -890);
	// @include pos(10, -820);
	// @include pos(10, -490);
	
	.phoneholderChild{
		@include pos(0, 0);
	}
	
}

.phoneholder.b{
	
	@include pos(73, -2400);
	.phoneholderChild{
		@include pos(0, 30);
	}
}


.phoneholderChild{
	

	.phone_1{
		@include pos(0, 1600);
		
	}
	.phone_2{
		@include pos(0, 800);
		// opacity: 0;
	}
	.phone_3{
		@include pos(0, 0);
	}
}

.btn{
	@include pos(47, 417);
	width: 85px;
	height: 27px;
	// border: 1px solid red;
	// background-color: transparent;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 600px;
	// overflow: visible;
}

